.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0rem;
    position: fixed; /* Fix the navbar's position */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Ensure the navbar spans the full viewport width */
    background-color: #151515; /* Provide a background color for visibility */
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); 
}

.nav-logo {
    height: 50px;
    padding: 10px;
    padding-left: 29px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 30px;
}

.nav-links li {
    margin: 0 1rem 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #aaa;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .dropdown-menu {
        position: static;
    }
}
