.App {
  text-align: center;
}

body{
  background-color: #242424;
  color: white;
  font-family: Outfit, sans-serif;
  padding-top: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: normal;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
